.login {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 130px;
}

.login {
  width: 700px;
  margin: 0 auto;
  margin-top: 130px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 20px;
}

#login-title {
  text-align: center;
}
