.pageLayout {
  min-height: 100vh;
  background-color: white;
  .ant-layout-header {
    background-color: white;
    height: 170px;
    padding: 0;
    @media (max-width: 479px) {
      height: 120px;
    }
  }
  .ant-layout-content {
    height: 100%;
    width: 70vw;
    margin: 0 auto;

    @media (max-width: 479px) {
      width: 85vw;
    }
  }
  .ant-layout-footer {
    background-color: antiquewhite;
  }
}
